GuessMyMessClient/Connected Services/GameService/GuessMyMessServer.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWordDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WordDto" nillable="true" type="tns:WordDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWordDto" nillable="true" type="tns:ArrayOfWordDto" />
  <xs:complexType name="WordDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="WordId" type="xs:int" />
      <xs:element minOccurs="0" name="WordKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordDto" nillable="true" type="tns:WordDto" />
  <xs:complexType name="ArrayOfPlayerScoreDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerScoreDto" nillable="true" type="tns:PlayerScoreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerScoreDto" nillable="true" type="tns:ArrayOfPlayerScoreDto" />
  <xs:complexType name="PlayerScoreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerScoreDto" nillable="true" type="tns:PlayerScoreDto" />
</xs:schema>