GuessMyMessClient/Connected Services/GameService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_selectWord_InputMessage">
    <wsdl:part name="parameters" element="tns:selectWord" />
  </wsdl:message>
  <wsdl:message name="IGameService_submitDrawing_InputMessage">
    <wsdl:part name="parameters" element="tns:submitDrawing" />
  </wsdl:message>
  <wsdl:message name="IGameService_submitGuess_InputMessage">
    <wsdl:part name="parameters" element="tns:submitGuess" />
  </wsdl:message>
  <wsdl:message name="IGameService_sendInGameChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendInGameChatMessage" />
  </wsdl:message>
  <wsdl:message name="IGameService_onRoundStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onRoundStart" />
  </wsdl:message>
  <wsdl:message name="IGameService_onDrawingPhaseStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onDrawingPhaseStart" />
  </wsdl:message>
  <wsdl:message name="IGameService_onGuessingPhaseStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onGuessingPhaseStart" />
  </wsdl:message>
  <wsdl:message name="IGameService_onPlayerGuessedCorrectly_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onPlayerGuessedCorrectly" />
  </wsdl:message>
  <wsdl:message name="IGameService_onTimeUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onTimeUpdate" />
  </wsdl:message>
  <wsdl:message name="IGameService_onRoundEnd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onRoundEnd" />
  </wsdl:message>
  <wsdl:message name="IGameService_onGameEnd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onGameEnd" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="selectWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/selectWord" message="tns:IGameService_selectWord_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="submitDrawing">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/submitDrawing" message="tns:IGameService_submitDrawing_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="submitGuess">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/submitGuess" message="tns:IGameService_submitGuess_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendInGameChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/sendInGameChatMessage" message="tns:IGameService_sendInGameChatMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="onRoundStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/onRoundStart" message="tns:IGameService_onRoundStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onDrawingPhaseStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/onDrawingPhaseStart" message="tns:IGameService_onDrawingPhaseStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onGuessingPhaseStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/onGuessingPhaseStart" message="tns:IGameService_onGuessingPhaseStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onPlayerGuessedCorrectly">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/onPlayerGuessedCorrectly" message="tns:IGameService_onPlayerGuessedCorrectly_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onTimeUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/onTimeUpdate" message="tns:IGameService_onTimeUpdate_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onRoundEnd">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/onRoundEnd" message="tns:IGameService_onRoundEnd_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onGameEnd">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/onGameEnd" message="tns:IGameService_onGameEnd_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="selectWord">
      <soap12:operation soapAction="http://tempuri.org/IGameService/selectWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="submitDrawing">
      <soap12:operation soapAction="http://tempuri.org/IGameService/submitDrawing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="submitGuess">
      <soap12:operation soapAction="http://tempuri.org/IGameService/submitGuess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendInGameChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameService/sendInGameChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="onRoundStart">
      <soap12:operation soapAction="http://tempuri.org/IGameService/onRoundStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onDrawingPhaseStart">
      <soap12:operation soapAction="http://tempuri.org/IGameService/onDrawingPhaseStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onGuessingPhaseStart">
      <soap12:operation soapAction="http://tempuri.org/IGameService/onGuessingPhaseStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onPlayerGuessedCorrectly">
      <soap12:operation soapAction="http://tempuri.org/IGameService/onPlayerGuessedCorrectly" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onTimeUpdate">
      <soap12:operation soapAction="http://tempuri.org/IGameService/onTimeUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onRoundEnd">
      <soap12:operation soapAction="http://tempuri.org/IGameService/onRoundEnd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onGameEnd">
      <soap12:operation soapAction="http://tempuri.org/IGameService/onGameEnd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8734/GuessMyMessServer/Game/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/GuessMyMessServer/Game/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-MBESJIN\zenbook i5</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>