GuessMyMessClient/Connected Services/ProfileService/GuessMyMessServer.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderId" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socialNetworks" nillable="true" type="tns:ArrayOfSocialNetworkDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileDto" nillable="true" type="tns:UserProfileDto" />
  <xs:complexType name="ArrayOfSocialNetworkDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialNetworkDto" nillable="true" type="tns:SocialNetworkDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialNetworkDto" nillable="true" type="tns:ArrayOfSocialNetworkDto" />
  <xs:complexType name="SocialNetworkDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetworkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialNetworkDto" nillable="true" type="tns:SocialNetworkDto" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
  <xs:complexType name="ArrayOfAvatarDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvatarDto" nillable="true" type="tns:AvatarDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvatarDto" nillable="true" type="tns:ArrayOfAvatarDto" />
  <xs:complexType name="AvatarDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAvatar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarDto" nillable="true" type="tns:AvatarDto" />
</xs:schema>