GuessMyMessClient/Connected Services/ProfileService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfileService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserProfile_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateProfile_StringFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q2:string" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangeEmail_StringFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q3:string" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangeEmail_StringFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q4:string" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangePassword_StringFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q5:string" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangePassword_StringFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q6:string" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetAvailableAvatars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAvatars" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetAvailableAvatars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAvatarsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetAvailableAvatars_StringFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q7:string" />
  </wsdl:message>
  <wsdl:portType name="IUserProfileService">
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetUserProfile" message="tns:IUserProfileService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetUserProfileResponse" message="tns:IUserProfileService_GetUserProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfileService/GetUserProfileStringFault" name="StringFault" message="tns:IUserProfileService_GetUserProfile_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/UpdateProfile" message="tns:IUserProfileService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/UpdateProfileResponse" message="tns:IUserProfileService_UpdateProfile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfileService/UpdateProfileStringFault" name="StringFault" message="tns:IUserProfileService_UpdateProfile_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangeEmail" message="tns:IUserProfileService_RequestChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangeEmailResponse" message="tns:IUserProfileService_RequestChangeEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangeEmailStringFault" name="StringFault" message="tns:IUserProfileService_RequestChangeEmail_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangeEmail" message="tns:IUserProfileService_ConfirmChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangeEmailResponse" message="tns:IUserProfileService_ConfirmChangeEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangeEmailStringFault" name="StringFault" message="tns:IUserProfileService_ConfirmChangeEmail_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangePassword" message="tns:IUserProfileService_RequestChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangePasswordResponse" message="tns:IUserProfileService_RequestChangePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangePasswordStringFault" name="StringFault" message="tns:IUserProfileService_RequestChangePassword_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangePassword" message="tns:IUserProfileService_ConfirmChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangePasswordResponse" message="tns:IUserProfileService_ConfirmChangePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangePasswordStringFault" name="StringFault" message="tns:IUserProfileService_ConfirmChangePassword_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAvatars">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetAvailableAvatars" message="tns:IUserProfileService_GetAvailableAvatars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetAvailableAvatarsResponse" message="tns:IUserProfileService_GetAvailableAvatars_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserProfileService/GetAvailableAvatarsStringFault" name="StringFault" message="tns:IUserProfileService_GetAvailableAvatars_StringFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserProfileService" type="tns:IUserProfileService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserProfileService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUserProfile">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestChangeEmail">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/RequestChangeEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangeEmail">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/ConfirmChangeEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/RequestChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/ConfirmChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAvatars">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/GetAvailableAvatars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService">
    <wsdl:port name="NetTcpBinding_IUserProfileService" binding="tns:NetTcpBinding_IUserProfileService">
      <soap12:address location="net.tcp://localhost:8734/GuessMyMessServer/Profile/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/GuessMyMessServer/Profile/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-MBESJIN\zenbook i5</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>