GuessMyMessClient/Connected Services/ProfileService/UserProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Profile/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Profile/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Profile/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfileService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RequestChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ConfirmChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetAvailableAvatars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAvatars" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetAvailableAvatars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableAvatarsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserProfileService">
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetUserProfile" message="tns:IUserProfileService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetUserProfileResponse" message="tns:IUserProfileService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/UpdateProfile" message="tns:IUserProfileService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/UpdateProfileResponse" message="tns:IUserProfileService_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangeEmail" message="tns:IUserProfileService_RequestChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangeEmailResponse" message="tns:IUserProfileService_RequestChangeEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangeEmail" message="tns:IUserProfileService_ConfirmChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangeEmailResponse" message="tns:IUserProfileService_ConfirmChangeEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangePassword" message="tns:IUserProfileService_RequestChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/RequestChangePasswordResponse" message="tns:IUserProfileService_RequestChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangePassword" message="tns:IUserProfileService_ConfirmChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/ConfirmChangePasswordResponse" message="tns:IUserProfileService_ConfirmChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAvatars">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetAvailableAvatars" message="tns:IUserProfileService_GetAvailableAvatars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetAvailableAvatarsResponse" message="tns:IUserProfileService_GetAvailableAvatars_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserProfileService" type="tns:IUserProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestChangeEmail">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/RequestChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangeEmail">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/ConfirmChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestChangePassword">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/RequestChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmChangePassword">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/ConfirmChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableAvatars">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetAvailableAvatars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService">
    <wsdl:port name="BasicHttpBinding_IUserProfileService" binding="tns:BasicHttpBinding_IUserProfileService">
      <soap:address location="http://localhost:8733/GuessMyMessServer/Profile/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>