GuessMyMessClient/Connected Services/SocialService/GuessMyMessServer.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfFriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDto" nillable="true" type="tns:FriendDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDto" nillable="true" type="tns:ArrayOfFriendDto" />
  <xs:complexType name="FriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDto" nillable="true" type="tns:FriendDto" />
  <xs:complexType name="ServiceFaultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorType" type="tns:ServiceErrorType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFaultDto" nillable="true" type="tns:ServiceFaultDto" />
  <xs:simpleType name="ServiceErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="DatabaseError" />
      <xs:enumeration value="OperationFailed" />
      <xs:enumeration value="ConnectionTimeout" />
      <xs:enumeration value="InvalidCredentials">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UserAlreadyExists">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EmailAlreadyRegistered">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AccountNotVerified">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LobbyFull">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MatchNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GameInProgress">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PlayerBanned">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DuplicateRecord">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceErrorType" nillable="true" type="tns:ServiceErrorType" />
  <xs:complexType name="ArrayOfFriendRequestInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestInfoDto" nillable="true" type="tns:FriendRequestInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestInfoDto" nillable="true" type="tns:ArrayOfFriendRequestInfoDto" />
  <xs:complexType name="FriendRequestInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequesterUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestInfoDto" nillable="true" type="tns:FriendRequestInfoDto" />
  <xs:complexType name="ArrayOfUserProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfileDto" nillable="true" type="tns:UserProfileDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfileDto" nillable="true" type="tns:ArrayOfUserProfileDto" />
  <xs:complexType name="UserProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderId" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socialNetworks" nillable="true" type="tns:ArrayOfSocialNetworkDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileDto" nillable="true" type="tns:UserProfileDto" />
  <xs:complexType name="ArrayOfSocialNetworkDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialNetworkDto" nillable="true" type="tns:SocialNetworkDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialNetworkDto" nillable="true" type="tns:ArrayOfSocialNetworkDto" />
  <xs:complexType name="SocialNetworkDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetworkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialNetworkDto" nillable="true" type="tns:SocialNetworkDto" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
  <xs:complexType name="DirectMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectMessageDto" nillable="true" type="tns:DirectMessageDto" />
  <xs:complexType name="ArrayOfDirectMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectMessageDto" nillable="true" type="tns:DirectMessageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectMessageDto" nillable="true" type="tns:ArrayOfDirectMessageDto" />
</xs:schema>