GuessMyMessClient/Connected Services/SocialService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/GuessMyMessServer/Social/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
  <xs:element name="getFriendsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFriendsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="getFriendsListResult" nillable="true" type="q1:ArrayOfFriendDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="getFriendRequestsResult" nillable="true" type="q2:ArrayOfFriendRequestInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="searchUsersResult" nillable="true" type="q3:ArrayOfUserProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="respondToFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendToRemove" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inviteFriendToGameByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inviteFriendToGameByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="inviteFriendToGameByEmailResult" nillable="true" type="q4:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyFriendStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>