GuessMyMessClient/Connected Services/SocialService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SocialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISocialService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetFriendsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsList" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetFriendsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetFriendsList_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q1:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequests" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetFriendRequests_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q2:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialService_SearchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialService_SearchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_SearchUsers_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q3:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialService_RespondToFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RespondToFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialService_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="ISocialService_InviteFriendToGameByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteFriendToGameByEmail" />
  </wsdl:message>
  <wsdl:message name="ISocialService_InviteFriendToGameByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteFriendToGameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_InviteFriendToGameByEmail_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q4:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialService_SendDirectMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDirectMessage" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConversations" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConversationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversations_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q5:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversationHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConversationHistory" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversationHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConversationHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversationHistory_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q6:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="ISocialService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ISocialService_NotifyFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialService_NotifyFriendResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_NotifyFriendStatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendStatusChanged" />
  </wsdl:message>
  <wsdl:message name="ISocialService_NotifyMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyMessageReceived" />
  </wsdl:message>
  <wsdl:portType name="ISocialService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/Connect" message="tns:ISocialService_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/GetFriendsList" message="tns:ISocialService_GetFriendsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/GetFriendsListResponse" message="tns:ISocialService_GetFriendsList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialService/GetFriendsListServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialService_GetFriendsList_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/GetFriendRequests" message="tns:ISocialService_GetFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/GetFriendRequestsResponse" message="tns:ISocialService_GetFriendRequests_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialService/GetFriendRequestsServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialService_GetFriendRequests_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/SearchUsers" message="tns:ISocialService_SearchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/SearchUsersResponse" message="tns:ISocialService_SearchUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialService/SearchUsersServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialService_SearchUsers_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/SendFriendRequest" message="tns:ISocialService_SendFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RespondToFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/RespondToFriendRequest" message="tns:ISocialService_RespondToFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/RemoveFriend" message="tns:ISocialService_RemoveFriend_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteFriendToGameByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/InviteFriendToGameByEmail" message="tns:ISocialService_InviteFriendToGameByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/InviteFriendToGameByEmailResponse" message="tns:ISocialService_InviteFriendToGameByEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialService/InviteFriendToGameByEmailServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialService_InviteFriendToGameByEmail_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDirectMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/SendDirectMessage" message="tns:ISocialService_SendDirectMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConversations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/GetConversations" message="tns:ISocialService_GetConversations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/GetConversationsResponse" message="tns:ISocialService_GetConversations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialService/GetConversationsServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialService_GetConversations_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConversationHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/GetConversationHistory" message="tns:ISocialService_GetConversationHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/GetConversationHistoryResponse" message="tns:ISocialService_GetConversationHistory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISocialService/GetConversationHistoryServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:ISocialService_GetConversationHistory_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/Disconnect" message="tns:ISocialService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/NotifyFriendRequest" message="tns:ISocialService_NotifyFriendRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/NotifyFriendResponse" message="tns:ISocialService_NotifyFriendResponse_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendStatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/NotifyFriendStatusChanged" message="tns:ISocialService_NotifyFriendStatusChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/NotifyMessageReceived" message="tns:ISocialService_NotifyMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISocialService" type="tns:ISocialService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISocialService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsList">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/GetFriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/GetFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/SearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RespondToFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/RespondToFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InviteFriendToGameByEmail">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/InviteFriendToGameByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendDirectMessage">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/SendDirectMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetConversations">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/GetConversations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConversationHistory">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/GetConversationHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/NotifyFriendRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendResponse">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/NotifyFriendResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/NotifyFriendStatusChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/NotifyMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialService">
    <wsdl:port name="NetTcpBinding_ISocialService" binding="tns:NetTcpBinding_ISocialService">
      <soap12:address location="net.tcp://localhost:8734/GuessMyMessServer/Social/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/GuessMyMessServer/Social/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-MBESJIN\zenbook i5</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>