GuessMyMessClient/Connected Services/SocialService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="GetFriendsListResult" nillable="true" type="q1:ArrayOfFriendDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="GetFriendRequestsResult" nillable="true" type="q2:ArrayOfFriendRequestInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="SearchUsersResult" nillable="true" type="q3:ArrayOfUserProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondToFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendToRemove" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteFriendToGameByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteFriendToGameByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="InviteFriendToGameByEmailResult" nillable="true" type="q4:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDirectMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="message" nillable="true" type="q5:DirectMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConversations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConversationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="GetConversationsResult" nillable="true" type="q6:ArrayOfFriendDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConversationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConversationHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="GetConversationHistoryResult" nillable="true" type="q7:ArrayOfDirectMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="message" nillable="true" type="q8:DirectMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>