GuessMyMessClient/Connected Services/SocialService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SocialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISocialService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialService_getFriendsList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFriendsList" />
  </wsdl:message>
  <wsdl:message name="ISocialService_getFriendsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_getFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:getFriendRequests" />
  </wsdl:message>
  <wsdl:message name="ISocialService_getFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_searchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUsers" />
  </wsdl:message>
  <wsdl:message name="ISocialService_searchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_sendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:sendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialService_respondToFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:respondToFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialService_removeFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFriend" />
  </wsdl:message>
  <wsdl:message name="ISocialService_inviteFriendToGameByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:inviteFriendToGameByEmail" />
  </wsdl:message>
  <wsdl:message name="ISocialService_inviteFriendToGameByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:inviteFriendToGameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_SendDirectMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDirectMessage" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConversations" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConversationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversationHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConversationHistory" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetConversationHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConversationHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_notifyFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ISocialService_notifyFriendResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyFriendResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_notifyFriendStatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyFriendStatusChanged" />
  </wsdl:message>
  <wsdl:message name="ISocialService_NotifyMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyMessageReceived" />
  </wsdl:message>
  <wsdl:portType name="ISocialService">
    <wsdl:operation name="getFriendsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/getFriendsList" message="tns:ISocialService_getFriendsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/getFriendsListResponse" message="tns:ISocialService_getFriendsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/getFriendRequests" message="tns:ISocialService_getFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/getFriendRequestsResponse" message="tns:ISocialService_getFriendRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/searchUsers" message="tns:ISocialService_searchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/searchUsersResponse" message="tns:ISocialService_searchUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/sendFriendRequest" message="tns:ISocialService_sendFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="respondToFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/respondToFriendRequest" message="tns:ISocialService_respondToFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/removeFriend" message="tns:ISocialService_removeFriend_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inviteFriendToGameByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/inviteFriendToGameByEmail" message="tns:ISocialService_inviteFriendToGameByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/inviteFriendToGameByEmailResponse" message="tns:ISocialService_inviteFriendToGameByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDirectMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/SendDirectMessage" message="tns:ISocialService_SendDirectMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConversations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/GetConversations" message="tns:ISocialService_GetConversations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/GetConversationsResponse" message="tns:ISocialService_GetConversations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConversationHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialService/GetConversationHistory" message="tns:ISocialService_GetConversationHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/GetConversationHistoryResponse" message="tns:ISocialService_GetConversationHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="notifyFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/notifyFriendRequest" message="tns:ISocialService_notifyFriendRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="notifyFriendResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/notifyFriendResponse" message="tns:ISocialService_notifyFriendResponse_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="notifyFriendStatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/notifyFriendStatusChanged" message="tns:ISocialService_notifyFriendStatusChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialService/NotifyMessageReceived" message="tns:ISocialService_NotifyMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISocialService" type="tns:ISocialService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISocialService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getFriendsList">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/getFriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/getFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUsers">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/searchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/sendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="respondToFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/respondToFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="removeFriend">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/removeFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="inviteFriendToGameByEmail">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/inviteFriendToGameByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirectMessage">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/SendDirectMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetConversations">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/GetConversations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConversationHistory">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/GetConversationHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/notifyFriendRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyFriendResponse">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/notifyFriendResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyFriendStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/notifyFriendStatusChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/ISocialService/NotifyMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialService">
    <wsdl:port name="NetTcpBinding_ISocialService" binding="tns:NetTcpBinding_ISocialService">
      <soap12:address location="net.tcp://localhost:8734/GuessMyMessServer/Social/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/GuessMyMessServer/Social/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-MBESJIN\zenbook i5</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>