GuessMyMessClient/Connected Services/MatchmakingService/GuessMyMessServer.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMatchInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchInfoDto" nillable="true" type="tns:MatchInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchInfoDto" nillable="true" type="tns:ArrayOfMatchInfoDto" />
  <xs:complexType name="MatchInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="DifficultyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchInfoDto" nillable="true" type="tns:MatchInfoDto" />
  <xs:complexType name="LobbySettingsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DifficultyId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRounds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDto" nillable="true" type="tns:LobbySettingsDto" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
</xs:schema>