GuessMyMessClient/Connected Services/MatchmakingService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMatchInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchInfoDto" nillable="true" type="tns:MatchInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchInfoDto" nillable="true" type="tns:ArrayOfMatchInfoDto" />
  <xs:complexType name="MatchInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="difficultyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchInfoDto" nillable="true" type="tns:MatchInfoDto" />
  <xs:complexType name="LobbySettingsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="difficultyId" type="xs:int" />
      <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="matchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="rounds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDto" nillable="true" type="tns:LobbySettingsDto" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
</xs:schema>