GuessMyMessClient/Connected Services/MatchmakingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchmakingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMatchmakingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchmakingService_getPublicMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:getPublicMatches" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_getPublicMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPublicMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_createMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:createMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_createMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_joinPublicMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:joinPublicMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_joinPrivateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:joinPrivateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_joinPrivateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinPrivateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_inviteToMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:inviteToMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_receiveMatchInvite_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:receiveMatchInvite" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_matchUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:matchUpdate" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_matchJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:matchJoined" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_matchmakingFailed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:matchmakingFailed" />
  </wsdl:message>
  <wsdl:portType name="IMatchmakingService">
    <wsdl:operation name="getPublicMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/getPublicMatches" message="tns:IMatchmakingService_getPublicMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/getPublicMatchesResponse" message="tns:IMatchmakingService_getPublicMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/createMatch" message="tns:IMatchmakingService_createMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/createMatchResponse" message="tns:IMatchmakingService_createMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinPublicMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/joinPublicMatch" message="tns:IMatchmakingService_joinPublicMatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinPrivateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/joinPrivateMatch" message="tns:IMatchmakingService_joinPrivateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/joinPrivateMatchResponse" message="tns:IMatchmakingService_joinPrivateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inviteToMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/inviteToMatch" message="tns:IMatchmakingService_inviteToMatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveMatchInvite">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/receiveMatchInvite" message="tns:IMatchmakingService_receiveMatchInvite_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="matchUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/matchUpdate" message="tns:IMatchmakingService_matchUpdate_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="matchJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/matchJoined" message="tns:IMatchmakingService_matchJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="matchmakingFailed">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/matchmakingFailed" message="tns:IMatchmakingService_matchmakingFailed_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMatchmakingService" type="tns:IMatchmakingService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatchmakingService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getPublicMatches">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/getPublicMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/createMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="joinPublicMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/joinPublicMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="joinPrivateMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/joinPrivateMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inviteToMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/inviteToMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="receiveMatchInvite">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/receiveMatchInvite" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="matchUpdate">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/matchUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="matchJoined">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/matchJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="matchmakingFailed">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/matchmakingFailed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchmakingService">
    <wsdl:port name="NetTcpBinding_IMatchmakingService" binding="tns:NetTcpBinding_IMatchmakingService">
      <soap12:address location="net.tcp://localhost:8734/GuessMyMessServer/Matchmaking/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/GuessMyMessServer/Matchmaking/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-MBESJIN\zenbook i5</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>