GuessMyMessClient/Connected Services/MatchmakingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchmakingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMatchmakingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                </msf:SslTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchmakingService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetPublicMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicMatches" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetPublicMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetPublicMatches_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q1:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_CreateMatch_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q2:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_JoinPublicMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinPublicMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_JoinPrivateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinPrivateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_JoinPrivateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinPrivateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_JoinPrivateMatch_ServiceFaultDtoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" name="detail" element="q3:ServiceFaultDto" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_InviteToMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteToMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_InviteGuestByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteGuestByEmail" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_InviteGuestByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteGuestByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_ReceiveMatchInvite_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMatchInvite" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_MatchUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchUpdate" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_MatchJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchJoined" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_MatchmakingFailed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchmakingFailed" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_PublicMatchesListUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PublicMatchesListUpdated" />
  </wsdl:message>
  <wsdl:portType name="IMatchmakingService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/Connect" message="tns:IMatchmakingService_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/Disconnect" message="tns:IMatchmakingService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/GetPublicMatches" message="tns:IMatchmakingService_GetPublicMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/GetPublicMatchesResponse" message="tns:IMatchmakingService_GetPublicMatches_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchmakingService/GetPublicMatchesServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IMatchmakingService_GetPublicMatches_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/CreateMatch" message="tns:IMatchmakingService_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/CreateMatchResponse" message="tns:IMatchmakingService_CreateMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchmakingService/CreateMatchServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IMatchmakingService_CreateMatch_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinPublicMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/JoinPublicMatch" message="tns:IMatchmakingService_JoinPublicMatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinPrivateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/JoinPrivateMatch" message="tns:IMatchmakingService_JoinPrivateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/JoinPrivateMatchResponse" message="tns:IMatchmakingService_JoinPrivateMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchmakingService/JoinPrivateMatchServiceFaultDtoFault" name="ServiceFaultDtoFault" message="tns:IMatchmakingService_JoinPrivateMatch_ServiceFaultDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteToMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/InviteToMatch" message="tns:IMatchmakingService_InviteToMatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteGuestByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/InviteGuestByEmail" message="tns:IMatchmakingService_InviteGuestByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/InviteGuestByEmailResponse" message="tns:IMatchmakingService_InviteGuestByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMatchInvite">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/ReceiveMatchInvite" message="tns:IMatchmakingService_ReceiveMatchInvite_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatchUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/MatchUpdate" message="tns:IMatchmakingService_MatchUpdate_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatchJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/MatchJoined" message="tns:IMatchmakingService_MatchJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatchmakingFailed">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/MatchmakingFailed" message="tns:IMatchmakingService_MatchmakingFailed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublicMatchesListUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/PublicMatchesListUpdated" message="tns:IMatchmakingService_PublicMatchesListUpdated_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMatchmakingService" type="tns:IMatchmakingService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatchmakingService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPublicMatches">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/GetPublicMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/CreateMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinPublicMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/JoinPublicMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="JoinPrivateMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/JoinPrivateMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultDtoFault">
        <soap12:fault use="literal" name="ServiceFaultDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InviteToMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/InviteToMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InviteGuestByEmail">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/InviteGuestByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMatchInvite">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/ReceiveMatchInvite" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchUpdate">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/MatchUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchJoined">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/MatchJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchmakingFailed">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/MatchmakingFailed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicMatchesListUpdated">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingService/PublicMatchesListUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchmakingService">
    <wsdl:port name="NetTcpBinding_IMatchmakingService" binding="tns:NetTcpBinding_IMatchmakingService">
      <soap12:address location="net.tcp://localhost:8734/GuessMyMessServer/Matchmaking/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/GuessMyMessServer/Matchmaking/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>