GuessMyMessClient/Connected Services/MatchmakingService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="GetPublicMatchesResult" nillable="true" type="q1:ArrayOfMatchInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="settings" nillable="true" type="q2:LobbySettingsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="CreateMatchResult" nillable="true" type="q3:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinPublicMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinPrivateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinPrivateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="JoinPrivateMatchResult" nillable="true" type="q4:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteToMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inviterUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invitedUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMatchInvite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="matchInfo" nillable="true" type="q5:MatchInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchJoined">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="result" nillable="true" type="q6:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchmakingFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicMatchesListUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" minOccurs="0" name="publicMatches" nillable="true" type="q7:ArrayOfMatchInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>