GuessMyMessClient/Connected Services/AuthService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Auth/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Auth/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Auth/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_verifyAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyAccount" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_verifyAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_loginAsGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:loginAsGuest" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_loginAsGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_logOut_InputMessage">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_sendPasswordRecoveryCode_InputMessage">
    <wsdl:part name="parameters" element="tns:sendPasswordRecoveryCode" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_sendPasswordRecoveryCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendPasswordRecoveryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_resetPasswordWithCode_InputMessage">
    <wsdl:part name="parameters" element="tns:resetPasswordWithCode" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_resetPasswordWithCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetPasswordWithCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/login" message="tns:IAuthenticationService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/loginResponse" message="tns:IAuthenticationService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/register" message="tns:IAuthenticationService_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/registerResponse" message="tns:IAuthenticationService_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/verifyAccount" message="tns:IAuthenticationService_verifyAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/verifyAccountResponse" message="tns:IAuthenticationService_verifyAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginAsGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/loginAsGuest" message="tns:IAuthenticationService_loginAsGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/loginAsGuestResponse" message="tns:IAuthenticationService_loginAsGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/logOut" message="tns:IAuthenticationService_logOut_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendPasswordRecoveryCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/sendPasswordRecoveryCode" message="tns:IAuthenticationService_sendPasswordRecoveryCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/sendPasswordRecoveryCodeResponse" message="tns:IAuthenticationService_sendPasswordRecoveryCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetPasswordWithCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/resetPasswordWithCode" message="tns:IAuthenticationService_resetPasswordWithCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/resetPasswordWithCodeResponse" message="tns:IAuthenticationService_resetPasswordWithCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyAccount">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/verifyAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginAsGuest">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/loginAsGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/logOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendPasswordRecoveryCode">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/sendPasswordRecoveryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPasswordWithCode">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/resetPasswordWithCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="BasicHttpBinding_IAuthenticationService" binding="tns:BasicHttpBinding_IAuthenticationService">
      <soap:address location="http://localhost:8733/GuessMyMessServer/Auth/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>