GuessMyMessClient/Connected Services/AuthService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Auth/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Auth/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/GuessMyMessServer/Auth/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_VerifyAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccount" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_VerifyAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LoginAsGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAsGuest" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LoginAsGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_SendPasswordRecoveryCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordRecoveryCode" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_SendPasswordRecoveryCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordRecoveryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_ResetPasswordWithCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordWithCode" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_ResetPasswordWithCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordWithCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/Login" message="tns:IAuthenticationService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/LoginResponse" message="tns:IAuthenticationService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/Register" message="tns:IAuthenticationService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/RegisterResponse" message="tns:IAuthenticationService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/VerifyAccount" message="tns:IAuthenticationService_VerifyAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/VerifyAccountResponse" message="tns:IAuthenticationService_VerifyAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAsGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/LoginAsGuest" message="tns:IAuthenticationService_LoginAsGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/LoginAsGuestResponse" message="tns:IAuthenticationService_LoginAsGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/LogOut" message="tns:IAuthenticationService_LogOut_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPasswordRecoveryCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/SendPasswordRecoveryCode" message="tns:IAuthenticationService_SendPasswordRecoveryCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/SendPasswordRecoveryCodeResponse" message="tns:IAuthenticationService_SendPasswordRecoveryCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordWithCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/ResetPasswordWithCode" message="tns:IAuthenticationService_ResetPasswordWithCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/ResetPasswordWithCodeResponse" message="tns:IAuthenticationService_ResetPasswordWithCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/VerifyAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAsGuest">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/LoginAsGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendPasswordRecoveryCode">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/SendPasswordRecoveryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordWithCode">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/ResetPasswordWithCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="BasicHttpBinding_IAuthenticationService" binding="tns:BasicHttpBinding_IAuthenticationService">
      <soap:address location="http://localhost:8733/GuessMyMessServer/Auth/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>