GuessMyMessClient/Connected Services/LobbyService/GuessMyMessServer.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LobbyStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentSettings" nillable="true" type="tns:LobbySettingsDto" />
      <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyStateDto" nillable="true" type="tns:LobbyStateDto" />
  <xs:complexType name="LobbySettingsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="difficultyId" type="xs:int" />
      <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="matchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="rounds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDto" nillable="true" type="tns:LobbySettingsDto" />
  <xs:complexType name="ChatMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recipientUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="senderUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMessageDto" nillable="true" type="tns:ChatMessageDto" />
</xs:schema>