GuessMyMessClient/Connected Services/LobbyService/GuessMyMessServer.Contracts.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LobbyStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Difficulty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PlayerUsernames" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyStateDto" nillable="true" type="tns:LobbyStateDto" />
  <xs:complexType name="ChatMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMessageDto" nillable="true" type="tns:ChatMessageDto" />
</xs:schema>