GuessMyMessClient/Connected Services/LobbyService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                </msf:SslTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GuessMyMessServer.Contracts.DataContracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyService_ConnectToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SendLobbyMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLobbyMessage" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_KickPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:KickPlayer" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartKickVote_InputMessage">
    <wsdl:part name="parameters" element="tns:StartKickVote" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SubmitKickVote_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitKickVote" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateLobbyState_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateLobbyState" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_ReceiveLobbyMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveLobbyMessage" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnGameStarting_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameStarting" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnGameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameStarted" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_KickedFromLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KickedFromLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateKickVote_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateKickVote" />
  </wsdl:message>
  <wsdl:portType name="ILobbyService">
    <wsdl:operation name="ConnectToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/ConnectToLobby" message="tns:ILobbyService_ConnectToLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLobbyMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/SendLobbyMessage" message="tns:ILobbyService_SendLobbyMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/StartGame" message="tns:ILobbyService_StartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobby" message="tns:ILobbyService_LeaveLobby_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/KickPlayer" message="tns:ILobbyService_KickPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartKickVote">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/StartKickVote" message="tns:ILobbyService_StartKickVote_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitKickVote">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/SubmitKickVote" message="tns:ILobbyService_SubmitKickVote_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLobbyState">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/UpdateLobbyState" message="tns:ILobbyService_UpdateLobbyState_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveLobbyMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/ReceiveLobbyMessage" message="tns:ILobbyService_ReceiveLobbyMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameStarting">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnGameStarting" message="tns:ILobbyService_OnGameStarting_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnGameStarted" message="tns:ILobbyService_OnGameStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickedFromLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/KickedFromLobby" message="tns:ILobbyService_KickedFromLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKickVote">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/UpdateKickVote" message="tns:ILobbyService_UpdateKickVote_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobbyService" type="tns:ILobbyService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectToLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/ConnectToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendLobbyMessage">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/SendLobbyMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="KickPlayer">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/KickPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartKickVote">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/StartKickVote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SubmitKickVote">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/SubmitKickVote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateLobbyState">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/UpdateLobbyState" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveLobbyMessage">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/ReceiveLobbyMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameStarting">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnGameStarting" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnGameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickedFromLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/KickedFromLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKickVote">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/UpdateKickVote" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyService">
    <wsdl:port name="NetTcpBinding_ILobbyService" binding="tns:NetTcpBinding_ILobbyService">
      <soap12:address location="net.tcp://localhost:8734/GuessMyMessServer/Lobby/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/GuessMyMessServer/Lobby/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>